[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "quickstart/themes/hello-friend-ng"]
	path = quickstart/themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "quickstart/beautifulhugo"]
	path = quickstart/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "quickstart/themes/hello-friend"]
	path = quickstart/themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
